<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

        <!-- Menu gốc -->
        <menuitem
            id="menu_root"
            name="Quản Lý Nhân Sự"
            sequence="0"/>

        <!-- Quản lý nhân viên -->
        <menuitem
            id="menu_nhan_vien"
            name="Quản lý nhân viên"
            parent="menu_root"
            sequence="1"
            action="action_nhan_vien"/>

        <!-- Danh mục chung -->
        <menuitem
            id="menu_danh_muc_chung"
            name="Danh mục chung"
            parent="menu_root"
            sequence="2"/>

        <!-- Đơn vị -->
        <menuitem
            id="menu_don_vi"
            name="Danh mục đơn vị"
            parent="menu_danh_muc_chung"
            sequence="1"
            action="action_don_vi"/>

        <!-- Chức vụ -->
        <menuitem
            id="menu_chuc_vu"
            name="Danh mục chức vụ"
            parent="menu_danh_muc_chung"
            sequence="2"
            action="action_chuc_vu"/>

        <!-- Chứng chỉ bằng cấp -->
        <menuitem
            id="menu_chung_chi_bang_cap"
            name="Danh mục chứng chỉ, bằng cấp"
            parent="menu_danh_muc_chung"
            sequence="3"
            action="action_chung_chi_bang_cap"/>

        <!-- Lịch sử công tác -->
        <menuitem
            id="menu_lich_su_cong_tac"
            name="Lịch sử công tác"
            parent="menu_root"
            sequence="3"
            action="action_lich_su_cong_tac"/>

        <!-- Danh sách chứng chỉ -->
        <menuitem
            id="menu_danh_sach_chung_chi_bang_cap"
            name="Danh sách chứng chỉ, bằng cấp"
            parent="menu_root"
            sequence="4"
            action="action_danh_sach_chung_chi_bang_cap"/>

    </data>
</odoo>